body {
  cursor: none;
}
#cursor {
  width: 6px;
  aspect-ratio: 1;

  border: 2px solid var(--accent-color1);
  border-radius: 50%;
}
#cursorOutline {
  width: 55px;
  aspect-ratio: 1;

  border: 2px solid rgba(70, 70, 70, 0.463);
  border-radius: 50%;
}
